<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FacturaGlobal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <FacturaGlobal.Properties.Settings>
            <setting name="SL" serializeAs="String">
                <value>http://172.16.61.28:50001/b1s/v1/</value>
            </setting>
            <setting name="CompanyDB" serializeAs="String">
                <value>TEST_DERMA</value>
            </setting>
            <setting name="UserSAP" serializeAs="String">
                <value>manager</value>
            </setting>
            <setting name="PassSAP" serializeAs="String">
                <value>B1AdminH2</value>
            </setting>
            <setting name="Frecuencia" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="HanaConection" serializeAs="String">
                <value>Server=172.16.61.28:30013;UserID=SYSTEM;Password=B1AdminH2;Database=NDB</value>
            </setting>
            <setting name="UN" serializeAs="String">
                <value>D</value>
            </setting>
            <setting name="CardCode" serializeAs="String">
                <value>101476</value>
            </setting>
            <setting name="ItemCode" serializeAs="String">
                <value>VENTA</value>
            </setting>
            <setting name="Rfc" serializeAs="String">
                <value>XAXX010101000</value>
            </setting>
            <setting name="Serie" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="UsoCFDI" serializeAs="String">
                <value>S01</value>
            </setting>
            <setting name="MetodoPago" serializeAs="String">
                <value>PUE</value>
            </setting>
            <setting name="Periodicidad" serializeAs="String">
                <value>02</value>
            </setting>
            <setting name="Efectivo" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>01-EF-A</string>
                        <string>01-EF-C</string>
                        <string>01-EF-D</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="TC" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>04-TC-A</string>
                        <string>04-TC-C</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="TD" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>28-TD-A</string>
                        <string>28-TD-C</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Transferencia" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>03-C</string>
                        <string>03-KK-A</string>
                        <string>03-KK-D</string>
                        <string>03-MP-A</string>
                        <string>03-MP-D</string>
                        <string>03-OP-A</string>
                        <string>03-OP-D</string>
                        <string>03-PP-A</string>
                        <string>03-PP-D</string>
                        <string>03-TR-A</string>
                        <string>03-TR-C</string>
                        <string>03-TR-D</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SerieE" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="SerieC" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="SerieD" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="PeyMethodA" serializeAs="String">
                <value>uno</value>
            </setting>
            <setting name="PeyMethodD" serializeAs="String">
                <value>dos</value>
            </setting>
            <setting name="PeyMethodC" serializeAs="String">
                <value>tres</value>
            </setting>
            <setting name="GroupNum" serializeAs="String">
                <value>GroupNum</value>
            </setting>
            <setting name="PublicoGeneral" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>PG001</string>
                        <string>PG002</string>
                        <string>PG003</string>
                    </ArrayOfString>
                </value>
            </setting>
        </FacturaGlobal.Properties.Settings>
    </userSettings>
</configuration>